body {
  background: linear-gradient(135deg, #1e1e2f, #12121c) !important;
  color: white !important;
  font-family: 'Segoe UI', sans-serif !important;
}

.sidebar {
  width: 220px !important;
  height: 100vh !important;
  background: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(8px) !important;
  padding: 2rem 1rem !important;
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  border-right: 1px solid rgba(255,255,255,0.1) !important;
}

.sidebar a {
  display: block !important;
  color: #fff !important;
  margin-bottom: 1.2rem !important;
  text-decoration: none !important;
  font-weight: 500 !important;
}

.sidebar a:hover {
  color: #ff7f32 !important;
}

.sidebar a.active {
  color: #ff7f32 !important;
}

.main-content {
  margin-left: 240px !important;
  padding: 2rem !important;
}

.glass-card {
  background: rgba(255,255,255,0.07) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 1rem !important;
  padding: 1.5rem !important;
  border: 1px solid rgba(255,255,255,0.1) !important;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3) !important;
  transition: transform 0.2s ease !important;
  height: 100% !important;
}

.azulado{
  background: rgba(255,255,255,0.07) !important;
}



.glass-card:hover {
  transform: scale(1.02) !important;
}

.glass-card i {
  font-size: 2rem !important;
  color: #ff7f32 !important;
}

.welcomeRutina {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  font-size: 1.9rem !important;
  font-weight: 600 !important;
  margin-bottom: 2rem !important;
}

.welcome {
  font-size: 1.9rem !important;
  font-weight: 600 !important;
  margin-bottom: 2rem !important;
}

.row > div {
  margin-bottom: 1.5rem !important;
}

.highlight {
  color: #ff7f32 !important;
}

.icono-derecha {
  font-size: 2rem !important;
  color: #ffffff !important;
  margin-left: 1rem !important;

  background: none !important;
  border: none !important;
  padding: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer !important;
}

.btn-close{
background-color: white !important;
border-radius: 25px !important;
}